
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>The grid</title>
  <style>
	.row {
	position: relative;
	margin: 0 auto;
	clear: both;
	}
	.col {
	width : 50px;
	height: 50px;
	float: left;
	text-align: center;
	}
	img {
	width : 46px;
	height: 46px;
	display: inline;
	padding: 2px 0;
	}
	.isHeroChose {
	border: 2px solid red;
	padding: 0px;
	}
	.heroSugges {
	border: 4px solid green;
	padding: 0px;
	}
	.contai {
	display: block;
	width: 960px;
	height: 550px;
	background-image: url('https://taimienphi.vn/tmp/cf/aut/hinh-nen-dep-2.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	}
  </style>
</head>
<body>
	<button onclick='suggestions("sugges")'>suggestions</button>
	<button onclick='changeThemes("lienminh1")'>Lien Minh 1</button>
	<button onclick='changeThemes("lienminh2")'>Lien Minh 2</button>
	<button onclick='changeThemes("lienminh3")'>Lien Minh 3</button>
	<button onclick='changeThemes("lienminh4")'>Lien Minh 4</button>
	<button onclick='changeThemes("lienquan1")'>Lien Quan 1</button>
	<button onclick='changeThemes("lienquan2")'>Lien Quan 2</button>
    <div class="contai">
        <!-- <div class="row">
        <div class = "col 0s1"></div>
        </div> -->
        
    </div>

<script>
	function clearHeroSugges () {
	let clears = document.querySelectorAll('.heroSugges')
	if (clears.length){
		console.log(clears)
		clears[0].classList.remove('heroSugges')
		clears[1].classList.remove('heroSugges')
	}
}

function createArrayStart() {
	let obj ={}
	let arr = []
	for (let i = 0; i<11; i++) {
		let mediateArr = []
		for (let j=0;j<18;j++){
			let hero
			function createRandomHero() {
				hero = parseInt(Math.random()*36+1)
				if (obj[hero]){
					if(obj[hero]===4){ createRandomHero()}
					else {
						obj[hero]++
					}
				} else {obj[hero] = 1}
			}
			if(i===0 || j===0 || i ===10 || j ===17){ 
				hero = 0
			} else {createRandomHero()}
			
			mediateArr.push(hero)
		}
		arr.push(mediateArr)
	}
return arr
}
 function showHero(arraySaveHero){
	let strLage = "";
	const contai = document.querySelector('.contai');
	for (let i=0;i<11;i++){
		let strSmall = '';
		for (let j=0;j<18;j++){
		   strSmall += `
			<div class = "col">
				<img id="${i+'_'+j}" onclick = "handleclick(this)" src="./themes/${displayInterface}/${arraySaveHero[i][j]}.png" /> 
			</div>`
		}
		strLage += `<div class="row">${strSmall} </div>`
	}
	contai.innerHTML = strLage;
}

function checkHero(iSta,jSta,iEnd,jEnd,arraySaveHero){
	if(arraySaveHero[iSta][jSta] !== arraySaveHero[iEnd][jEnd]) return false
	let arrToCheck = []
	let count
	for (i=0; i<11; i++){
		// kiem tra canh 1 
		count = 0
		let c1End, c1Sta
		if(i>iSta) {c1Sta = iSta; c1End = i } else { c1Sta = i; c1End = iSta }
		for (let canh1 = c1Sta; canh1<=c1End; canh1++){
			if(arraySaveHero[canh1][jSta]!==0){count++}
		}
		
		let c2End, c2Sta
		if(i>iEnd) {c2Sta = iEnd; c2End = i } else { c2Sta = i; c2End = iEnd }
		for (let canh1 = c2Sta; canh1<=c2End; canh1++){
			if(arraySaveHero[canh1][jEnd]!==0){count++}
		}
		
		let c3End, c3Sta
		if(jSta>jEnd) {c3Sta = jEnd; c3End = jSta } else { c3Sta = jSta; c3End = jEnd }
		for (let canh1 = c3Sta+1; canh1<=c3End-1; canh1++){
			if(arraySaveHero[i][canh1]!==0){count++}
		}
		if(count === 2) {return true}
		arrToCheck.push(count)
	}
	
	for (j=0; j<18; j++){
		// kiem tra canh 2
		count = 0
		let c1End, c1Sta
		if(j>jSta) {c1Sta = jSta; c1End = j } else { c1Sta = j; c1End = jSta }
		for (let canh1 = c1Sta; canh1<=c1End; canh1++){
			if(arraySaveHero[iSta][canh1]!==0){count++}
		}
		let c2End, c2Sta
		if(j>jEnd) {c2Sta = jEnd; c2End = j } else { c2Sta = j; c2End = jEnd }
		for (let canh1 = c2Sta; canh1<=c2End; canh1++){
			if(arraySaveHero[iEnd][canh1]!==0){count++}
		}
		let c3End, c3Sta
		if(iSta>iEnd) {c3Sta = iEnd; c3End = iSta } else { c3Sta = iSta; c3End = iEnd }
		for (let canh1 = c3Sta+1; canh1<=c3End-1; canh1++){
			if(arraySaveHero[canh1][j]!==0){count++}
		}
		if(count === 2) {return true}
		arrToCheck.push(count)
	}
	
return false
}
	let choseStart, choseEnd
	let displayInterface = 'lienminh1'
	let arraySaveHero = createArrayStart()
	function changeThemes(theme) {
		displayInterface = theme
		showHero(arraySaveHero);
	}
	function checkSuggestions () {
		let suggestion1, suggestion2
		let objC = {}
		for (let i=1; i<11; i++){
			for (let j = 1; j<18; j++){
				if(objC[arraySaveHero[i][j]]=== undefined ) { 
					if(arraySaveHero[i][j]!==0){
					objC[arraySaveHero[i][j]]=[[i,j]]
					}
				}
				else {objC[arraySaveHero[i][j]].push([i,j])}
			}
		}
		if (JSON.stringify(objC)==='{}'){alert('Bạn vô địch thiên hạ, không ai sánh bằng!')}
		for (let needCheck in objC){
						
			if(objC[needCheck].length===2){
				if(checkTowObj(objC[needCheck][0],objC[needCheck][1])){
					return ([...objC[needCheck][0],...objC[needCheck][1]])
				}
			}
			if(objC[needCheck].length===4){
				if(checkTowObj(objC[needCheck][0],objC[needCheck][1])){
					return ([...objC[needCheck][0],...objC[needCheck][1]])
				}
				if(checkTowObj(objC[needCheck][0],objC[needCheck][2])){
					console.log([...objC[needCheck][0],...objC[needCheck][2]])
				}
				if(checkTowObj(objC[needCheck][0],objC[needCheck][3])){
					return ([...objC[needCheck][0],...objC[needCheck][3]])
				}
				if(checkTowObj(objC[needCheck][1],objC[needCheck][2])){
					return ([...objC[needCheck][1],...objC[needCheck][2]])
				}
				if(checkTowObj(objC[needCheck][1],objC[needCheck][3])){
					return ([...objC[needCheck][1],...objC[needCheck][3]])
				}
				if(checkTowObj(objC[needCheck][2],objC[needCheck][3])){
					return ([...objC[needCheck][2],...objC[needCheck][3]])
				}
			}
		}
	return false
	}
	function suggestions (check) {
		const arr = checkSuggestions()
		if(arr){
		  if(check==='sugges'){
		  let showSugges1 = document.getElementById(`${arr[0]}_${arr[1]}`)
		  let showSugges2 = document.getElementById(`${arr[2]}_${arr[3]}`)
		  showSugges1.classList.add('heroSugges')
		  showSugges2.classList.add('heroSugges')
		  }
		}
		else { alert('GameOver')}
	}
    function handleclick(img) {
		if (img.src.includes(`/themes/${displayInterface}/0.png`)) return
		
		if(!choseStart){
			img.classList.add('isHeroChose')
			choseStart = img
		} else {
			if(choseStart===img){
				img.classList.remove('isHeroChose')
			} else {
				choseEnd = img
				const [iSta,jSta] = choseStart.id.split('_').map(item=>parseInt(item))
				const [iEnd,jEnd] = choseEnd.id.split('_').map(item=>parseInt(item))
				if(checkHero(iSta,jSta,iEnd,jEnd, arraySaveHero)){
					choseEnd.src = `./themes/${displayInterface}/0.png`
					choseStart.src = `./themes/${displayInterface}/0.png`
					choseStart.classList.remove('isHeroChose')
					
					arraySaveHero[iSta][jSta] = 0
					arraySaveHero[iEnd][jEnd] = 0
					
					choseStart = '', choseEnd = ''
				} else {
					choseStart.classList.remove('isHeroChose')
					choseStart = '', choseEnd = ''
				}
				suggestions('checkGameOver')
				clearHeroSugges()
			}
		} 
	}
	
    showHero(arraySaveHero);
	
	function checkTowObj(obj1,obj2) {
		let [iSta, jSta] = obj1
		let [iEnd, jEnd] = obj2
		if(checkHero(iSta,jSta,iEnd,jEnd, arraySaveHero)) {
		return true
		}
	return false
	}
</script>
</body>
</html>